<launch>

    <arg name="project" default="lidar_imu_fusion"/>
    <!-- Lidar odometry param -->
    <rosparam file="$(find lidar_imu_fusion)/config/params_lidar_hs5.yaml" command="load" />
    <!-- VINS config -->
    <param name="vins_config_file" type="string" value="$(find lidar_imu_fusion)/config/params_camera_hs5.yaml" />
    
    <!-- Lidar odometry -->
    <node pkg="$(arg project)"      type="$(arg project)_imuPreintegration"   name="$(arg project)_imuPreintegration"    output="screen"     respawn="true"/>
    <node pkg="$(arg project)"      type="$(arg project)_imageProjection"     name="$(arg project)_imageProjection"      output="screen"     respawn="true"/>
    <node pkg="$(arg project)"      type="$(arg project)_featureExtraction"   name="$(arg project)_featureExtraction"    output="screen"     respawn="true"/>
    <node pkg="$(arg project)"      type="$(arg project)_mapOptmization"      name="$(arg project)_mapOptmization"       output="screen"     respawn="true"/>
    <node pkg="$(arg project)"      type="$(arg project)_gpsConverter"        name="$(arg project)_gpsConverter"         output="screen"     respawn="true"/>
    <!-- <node pkg="$(arg project)"      type="$(arg project)_imuTool"             name="$(arg project)_imuTool"              output="screen"     respawn="true"/> -->
    <!-- <node pkg="$(arg project)"      type="$(arg project)_lidarTool"      name="$(arg project)_lidarTool"       output="screen"     respawn="true"/> -->
    <!-- <node pkg="$(arg project)"      type="$(arg project)_lidarObstacle"        name="$(arg project)_lidarObstacle"         output="screen"     respawn="true"/> -->

</launch>
